#S09 T01: ++++++

## Descripció

Familiaritza't amb la programació científica mitjantçant la llibreria SKLearn / Scikitlearn.++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## Nivell 1

### - Exercici 1

Parteix el conjunt de dadesDelayedFlights.csv en train i test. Estudia els dos conjunts per separat, a nivell descriptiu.

In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv('DelayedFlights.csv', sep=',')
df.drop(columns=df.columns[0],inplace=True)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [ ]:
df.shape

(1936758, 30)

In [ ]:
train, test = train_test_split(df, test_size=0.33, random_state=42, shuffle=True)

In [ ]:
train.shape

(1297627, 30)

In [ ]:
test.shape

(639131, 30)

In [ ]:
print("verificamos que se ha dividido correctamente %0.2f%%"%((test.shape[0]/df.shape[0])*100))

verificamos que se ha dividido correctamente 33.00%

In [ ]:
test.describe().traspose()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,6.391310e+05,639131.0,639131.000000,639131.000000,639131.000000,639131.000000,639131.000000,636837.000000,639131.000000,639131.000000,...,639131.000000,636837.000000,638983.000000,639131.000000,639131.000000,411577.000000,411577.000000,411577.000000,411577.000000,411577.000000
mean,3.340455e+06,2008.0,6.109242,15.734000,3.987566,1518.404152,1467.493686,1610.957597,1634.216214,2185.615699,...,765.931599,6.818002,18.206334,0.000307,0.003944,19.135644,3.710487,15.012085,0.089014,25.361126
std,2.064901e+06,0.0,3.481029,8.772922,1.995405,450.242034,424.325547,547.028694,464.027396,1945.269150,...,574.546487,5.292388,14.288191,0.017509,0.062681,43.543818,21.609239,33.843092,1.967597,42.196212
min,2.000000e+00,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.518112e+06,2008.0,3.000000,8.000000,2.000000,1203.000000,1135.000000,1317.000000,1325.000000,612.000000,...,338.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.242497e+06,2008.0,6.000000,16.000000,4.000000,1545.000000,1510.000000,1715.000000,1705.000000,1545.000000,...,607.000000,6.000000,14.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,8.000000
75%,4.968605e+06,2008.0,9.000000,23.000000,6.000000,1900.000000,1815.000000,2030.000000,2014.000000,3423.000000,...,998.000000,8.000000,21.000000,0.000000,0.000000,21.000000,0.000000,15.000000,0.000000,33.000000
max,7.009727e+06,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,9740.000000,...,4962.000000,200.000000,376.000000,1.000000,1.000000,2436.000000,1153.000000,1289.000000,284.000000,1303.000000

In [ ]:
train.describe().traspose()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.297627e+06,1297627.0,1.297627e+06,1.297627e+06,1.297627e+06,1.297627e+06,1.297627e+06,1.292811e+06,1.297627e+06,1.297627e+06,...,1.297627e+06,1.292811e+06,1.297320e+06,1.297627e+06,1.297627e+06,835911.000000,835911.000000,835911.000000,835911.000000,835911.000000
mean,3.342241e+06,2008.0,6.112024e+00,1.576306e+01,3.983478e+00,1.518598e+03,1.467462e+03,1.609738e+03,1.634229e+03,2.183597e+03,...,7.655653e+02,6.810499e+00,1.824494e+01,3.367686e-04,4.032746e-03,19.200942,3.700165,15.026338,0.090690,25.264630
std,2.066639e+06,0.0,3.483295e+00,8.777909e+00,1.996242e+00,4.506052e+02,4.249841e+02,5.487432e+02,4.649337e+02,1.944423e+03,...,5.744469e+02,5.264314e+00,1.436325e+01,1.834817e-02,6.337575e-02,43.547394,21.435399,33.828127,2.049308,41.985079
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,2.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.517242e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.242577e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.706000e+03,1.542000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000,0.000000,2.000000,0.000000,8.000000
75%,4.973994e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.031000e+03,2.015000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,21.000000,0.000000,15.000000,0.000000,33.000000
max,7.009726e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,1951.000000,1352.000000,1357.000000,392.000000,1316.000000

In [ ]:
train.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                4816
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   2
ActualElapsedTime      5670
CRSElapsedTime          140
AirTime                5670
ArrDelay               5670
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 4816
TaxiOut                 307
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         461716
WeatherDelay         461716
NASDelay             461716
SecurityDelay        461716
LateAircraftDelay    461716
dtype: int64

In [59]:
for key, value in  test.isnull().sum().items():
    print(f"{key}=test;{round((value/df[key].isnull().sum())*100,2)} train:{round((train.isnull().sum()[key]/df[key].isnull().sum())*100,2)}")

/tmp/ipykernel_18237/39679552.py:2: RuntimeWarning: invalid value encountered in long_scalars
  print(f"{key}=test;{round((value/df[key].isnull().sum())*100,2)} train:{round((train.isnull().sum()[key]/df[key].isnull().sum())*100,2)}")

Unnamed: 0=test;nan train:nan
Year=test;nan train:nan
Month=test;nan train:nan
DayofMonth=test;nan train:nan
DayOfWeek=test;nan train:nan
DepTime=test;nan train:nan
CRSDepTime=test;nan train:nan
ArrTime=test;32.26 train:67.74
CRSArrTime=test;nan train:nan
UniqueCarrier=test;nan train:nan
FlightNum=test;nan train:nan
TailNum=test;60.0 train:40.0
ActualElapsedTime=test;32.4 train:67.6
CRSElapsedTime=test;29.29 train:70.71
AirTime=test;32.4 train:67.6
ArrDelay=test;32.4 train:67.6
DepDelay=test;nan train:nan
Origin=test;nan train:nan
Dest=test;nan train:nan
Distance=test;nan train:nan
TaxiIn=test;32.26 train:67.74
TaxiOut=test;32.53 train:67.47
Cancelled=test;nan train:nan
CancellationCode=test;nan train:nan
Diverted=test;nan train:nan
CarrierDelay=test;33.01 train:66.99
WeatherDelay=test;33.01 train:66.99
NASDelay=test;33.01 train:66.99
SecurityDelay=test;33.01 train:66.99
LateAircraftDelay=test;33.01 train:66.99

## Nivell 2

### - Exercici 2

Aplica algun procés de transformació (estandarditzar les dades numèriques, crear columnes dummies, polinomis...).

In [66]:
attributos_categoricos = df.select_dtypes(np.object0).columns
attributos_categoricos
for attr in attributos_categoricos:
    print(type(df[attr]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## Nivell 3

### - Exercici 3

Resumeix les noves columnes generades de manera estadística i gràfica